@import "../../styles/custom";

input.form-control {
  padding-right: 40px;
}

.is-valid, .is-invalid {
  border-width: 2px;
}

.is-valid + span {
  display: inline-block !important;
  width: 26px;
  height: 26px;
  position: absolute;
  top: 7px;
  right: 7px;

  svg {
    fill: $green;
  }
}

.is-invalid + span {
  display: inline-block !important;
  width: 26px;
  height: 26px;
  position: absolute;
  top: 7px;
  right: 7px;

  svg {
    fill: $red;
  }
}

.async-validating + span {
  display: inline-block !important;
  width: 26px;
  height: 26px;
  position: absolute;
  top: 7px;
  right: 7px;

  svg {
    fill: $gray-500;
  }
}
